body{
    background-color: blanchedalmond;
    color: cornflowerblue;
}
input{
    color: rgb(24, 43, 43);
    width: 20%;
    padding: 2px;
    margin-top: 10px;
    
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
legend{
    font-size: large;
}
